build
bin
gen
*.cfg
*.idea
*~
*.iml
*.apk
local.properties
.gradle
*.log
*.externalNativeBuild
app/Android.mk
flightapps_encrypted_private_key
out
src/main/resources/fonts/ubuntu/UFL.txt
src/main/resources/fonts/ubuntu/Ubuntu-BoldItalic.ttf
src/main/resources/fonts/ubuntu/Ubuntu-Italic.ttf
src/main/resources/fonts/ubuntu/Ubuntu-Light.ttf
src/main/resources/fonts/ubuntu/Ubuntu-LightItalic.ttf
src/main/resources/fonts/ubuntu/Ubuntu-Medium.ttf
src/main/resources/fonts/ubuntu/Ubuntu-MediumItalic.ttf